/*{
  margin: 0;
  padding: 0;
}
*/
/* Topnav header bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transform: translateY(-2px);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Body */

body{
  background: #000013;
  color:#314de4;
  font-family:Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* div and classes */

div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:40px;
  color:#314de4;
  font-family:Arial;
}

.big_text{
  font-size:60px;
}

/* button and classes */

button{
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .5s ease-in-out;
  margin-left:10px;
  font-size:24px;
  color:#314de4;
  font-family:Arial;
}

button:hover{
  transform: translateY(-5px);
}

.image_spin{
  transition: transform .8s ease-in-out;
}

.image_spin:hover{
  transform: rotate(360deg);
}


/* img and classes */

img{
  width: 70px;
  height: 70px;
}

/* input and classes */

input[type="email"]{
  padding:10px;
  border:2px solid #314de4;
  outline :none;
  border-radius:5px;
  font-size:24px;
  color:#314de4;
}
